@import 'src/scss/colors';

.link {
  align-self: flex-end;
}

.headers {
  display: flex;
  border-radius: 4px;
  background: desaturate(darken($primary-color, 70%), 50%);
  margin-bottom: 5px;
}

.row-link {
  display: flex;
  height: 40px;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-1;
  }
}
