@import 'src/scss/colors';

.arrow-button {
  cursor: initial;

  &.enabled-arrow {

    &:hover {
      cursor: pointer;
      color: desaturate(darken($primary-color, 25%), 40%);
    }
  }
}

:disabled {
  opacity: 0.5;
}
