$wild-sand: #F5F5F5;
$dove-gray: #696969;
$tundora: #404040;
$light-tundora: #4A4A4A;
$white: #FFF;
$black: #000;
$gray-1: #E2E5EC;
$gray-2: #BABABA;
$gray-3: #FAFAFA;
$gray-4: $dove-gray;

$primary-color: #9AABFF;
