@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

@import '~wolox-equalizer/equalizer';

@import 'colors';

@import 'layout';

@import 'fonts';

@import 'margins';

@import 'components';

@import 'datepicker';

// stylelint-disable

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-weight: 300;
}

// stylelint-enable

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


