.input {
  height: 40px;
  width: 100%;
  border: 1px solid $gray-1;
  padding: 5px 10px;
  background: $white;
  border-radius: 4px;
  line-height: 38px;

  &:focus {
    border-color: $primary-color;
  }
}

.button-primary {
  background: $primary-color;
  height: 40px;
  padding: 10px 40px;
  line-height: 20px;
  color: $white;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus {
    background: darken($primary-color, 5%);
    color: $white;
  }
}

.button-secondary {
  border: 1px solid $primary-color;
  color: $primary-color;
  height: 40px;
  padding: 10px 40px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    border-color: darken($primary-color, 10%);
    color: darken($primary-color, 10%);
    background: rgba(lighten($primary-color, 5%), 0.2);
  }
}

.title1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: desaturate(darken($primary-color, 25%), 50%);
}

.title2 {
  font-size: 32px;
  line-height: 40px;
  color: desaturate(darken($primary-color, 25%), 50%);
}

.form-header {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-1;
  margin-bottom: 20px;
}

.back-button{
  height: 30px;
  padding-right: 10px;
  border-right: 1px solid desaturate(darken($primary-color, 25%), 50%);

  .back-ic {
    height: 20px;
  }
}

.form-body {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  flex-basis: calc(50% - 10px);
  max-width: 400px;
  width: 100%;
  min-width: 300px;
  margin-right: 20px;
}

.form-actions {
  padding-top: 20px;
  border-top: 1px solid $gray-1;
}

.modal-close,
.logout-icon,
.back-ic {
  fill: $gray-2;
  stroke-color: $gray-2;

  g > * {
    fill: $gray-2;
    stroke-color: $gray-2;
  }

  &:hover,
  &:focus {
    fill: $primary-color;

    g > * {
      fill: $primary-color;
    }
  }
}
