.container {
  grid-row-gap: 20px;
  padding: 30px 0;
  width: 100%;
}

.bodies {
  grid-row-gap: 30px;
  grid-template-rows: auto;
  min-height: 200px;
  overflow-y: auto;
}

.body-content {
  align-content: stretch;
  flex-grow: 1;
  grid-row-gap: 20px;
  grid-template-rows: min-content;
}

.rows {
  align-content: flex-start;
  grid-row-gap: 10px;
}

.headers {
  grid-auto-flow: column;
  grid-template-columns: auto;
}

.header-cell {
  text-transform: uppercase;
}

.row-container {
  cursor: pointer;
  grid-template-columns: auto;
}

.title {
  text-transform: uppercase;
}
