@import 'src/scss/colors';

.container {
  padding: 30px 0;
  width: 100%;
}

.bodies {
  min-height: 200px;
  overflow-y: auto;
  background: $white;
  border-radius: 4px;
}

.body-content {
  align-content: stretch;
  flex-grow: 1;
}

.rows {
  align-content: flex-start;
}

.headers {

}

.header-cell {
  text-transform: uppercase;
  padding: 10px;
  color: lighten($primary-color, 10%);
  min-width: 100px;
}

.row-container {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid $gray-1;
}

.title {
  text-transform: uppercase;
}

.cell {
  padding: 10px;
  min-width: 100px;
}
